[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "etc/fastsar"]
	path = etc/fastsar
	url = https://github.com/x4121/fastsar
[submodule "etc/rofi-soundboard"]
	path = etc/rofi-soundboard
	url = https://github.com/x4121/rofi-soundboard
[submodule "symlinks/mutt.symlink/mutt-colors-solarized"]
	path = symlinks/mutt.symlink/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized
[submodule "symlinks/tmux.symlink/plugins/tpm"]
	path = symlinks/tmux.symlink/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "etc/ryte-tools"]
	path = etc/ryte-tools
	url = git@github.com:onpage-org/tools
