[Desktop Entry]
Type=Application
Categories=Utility;
Comment=pass-server-node is a read-only portal to 'pass'
Exec=sh -c "cd $HOME/.dotfiles/pass-server-node; npm --password_store_dir=$HOME/.password-store/www start"
StartupNotify=true
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=pass-server-node
