[Desktop Entry]
Type=Application
Categories=Utility;
Comment=Color temperature adjustment tool
Exec=redshift-gtk -t 6500:3500 -g 0.8 -r
StartupNotify=true
Icon=redshift
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Redshift
