[Desktop Entry]
Type=Application
Categories=Utility;
Comment=Color temperature adjustment tool
Exec=redshift -t 6500:3500
StartupNotify=true
Icon=redshift
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Redshift
