# gitconfig
[user]
    name = Armin Grodon
    email = armin@onpage.org
[github]
    user = x4121
[push]
    default = simple
[pull]
    ff = only
[status]
    branch = true
    short = true
[diff]
    wsErrorHighlight = all
[commit]
    gpgSign = true
[alias]
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
[url "git@github.com:x4121/"]
    insteadof = my:
[url "git@github.com:onpage-org/"]
    insteadof = op:
[url "https://github.com/"]
    insteadof = gh:
[dir]
    workspace = $HOME/workspace
    others = $HOME/.dotfiles:$HOME/.password-store
[amnesia]
    count = 10
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
