# gitconfig
[user]
    name = Armin Grodon
    email = armin@onpage.org
[github]
    user = x4121
[push]
    default = simple
[pull]
    ff = only
[fetch]
    prune = true
[status]
    branch = true
    short = true
[diff]
    wsErrorHighlight = all
[commit]
    gpgSign = true
[alias]
    lol = log --graph --decorate --oneline
    lola = log --graph --decorate --oneline --all
    save = !sh -c 'export PREV=$(git symbolic-ref HEAD|cut -d/ -f3-) && git checkout -b "$1" && git commit -am "$1" && git checkout "$PREV"' -
[url "git@github.com:x4121/"]
    insteadof = my:
[url "git@github.com:onpage-org/"]
    insteadof = op:
[url "https://github.com/"]
    insteadof = gh:
[dir]
    workspace = $HOME/workspace
    others = $HOME/.dotfiles:$HOME/.password-store
[amnesia]
    count = 10
