configuration {
  modi:              "window,run,ssh,combi";
  dpi:               1;
  terminal:          "x-terminal-emulator -e tmux";
  ssh-command:       "{terminal} new -d '{ssh-client} {host}'\; attach\;";
  run-shell-command: "{terminal} new -d '{cmd}'\; attach\;";
  run-command:       "fish -c '{cmd}'";
  run-list-command:  "fish -c functions";
  kb-row-tab:        "Shift+F12";
  kb-row-select:     "Tab";
}

@theme "gruvbox-dark"
